// Body
$body-bg: #fff;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
// Brands
$brand-primary: #1858a4;
$brand-info: #8eb4cb;
$brand-success: #15b75e;
$brand-warning: #ed9200; //$brand-danger:  #e8103f;
$brand-danger: #ca1629;
// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
// Navbar
$navbar-default-bg: #fff;
// Buttons
$btn-default-color: $text-color;
// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
// Panels
$panel-default-heading-bg: #fff;
//responsive settings
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
//sidebars
$sidebar-width-lg: 300px;
$sidebar-width-md: 200px;
$sidebar-width-sm: 100%;
